[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih.git
[submodule "ldapescape"]
	path = ldapescape
	url = https://github.com/devgateway/ldapescape.git
[submodule "debian"]
	path = debian
	url = https://github.com/devgateway/pam-param-packaging.git
